#asideContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 97%;
    margin: 10px auto 0 auto;

    h2 {
        margin-top: 10px;
    }

    .StationSelector {
        margin-bottom: 10px;
    }

    button {
        margin-right: 10px;
    }
}


.Trajet {
    margin-top: 20px;
}

.addButton,
.deleteButton {
    background: none;
    border: none;
    color: #555555;
    cursor: pointer;
    font-size: 18px;
}

.addButton {
    margin-bottom: 10px;
}

.deleteButton {
    margin-left: 10px;
}

.addButton,
.deleteButton {
    background-color: #ffffff;
    border: none;
    color: #555555;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.addButton {
    margin-bottom: 10px;
    background-color: #55aacc;
    color: #ffffff;
}

.addButton:hover,
.deleteButton:hover {
    background-color: #3388aa;
}

.deleteButton {
    margin-left: 10px;
}

.etapeItem {
    display: grid;
    grid-template-columns: 80% 1fr ;
}

.deleteButton {
    margin-left: 10px;
}

#etapeContainer {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: 10px;
    }
}